
<!-- still need to add controller and js - see https://www.lullabot.com/blog/article/processing-forms-angularjs and following github code-->
<!-- https://github.com/juampy72/angularjs_form/blob/master/js/app.js -->

<div class="container container-suggestForm">

  <div class="routeLinks">
    <a href="#/"><span class="fa-lg">
      <i class="fa fa-home"></i>
    </span>Home</a>
    <a href="#/list"><span class="fa-lg">
      <i class="fa fa-arrow-left"></i>
    </span>Back to List</a>
  </div>


<h2>Have a suggestion for a venue?</h2>
<h2>Are you a business owner who would like to list your venue?</h2>
<h3>Contact us:</h3>

<div data-ng-controller="suggestForm">
<!--   <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div> -->
  <form name="helpForm" novalidate role="form">
    <div class="form-group">
      <label for="name">Your Name </label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
      <input type="text" name="name" data-ng-model="name" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="email">Your E-mail address</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
<!--       <span class="label label-danger" data-ng-show="submitted && helpForm.\$error.email">Invalid email!</span> -->
      <input type="email" name="email" data-ng-model="email" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="suggestions">Your suggestion</label>
      <span class="label label-danger" data-ng-show="submitted && helpForm.comments.$error.required">Required!</span>
      <textarea name="comments" data-ng-model="comments" class="form-control" required></textarea>
    </div>
    <button data-ng-click="submit" class="btn btn-default">Submit</button>
  </form>
</div>


</div>
