
<div class='container container-table'>

<!--   <h3>Welcome {{adminCtrl.username}}</h3> -->

<div class="searchbox-wrapper">
  <input ng-model="query" type="text" name="searchbox" placeholder="filter venues">

  <div class="routeLinks">
    <a href="#/"><span class="fa-lg">
      <i class="fa fa-home"></i>
    </span>Home</a>
    <a href="#/addvenue"><span class="fa-lg">
      <i class="fa fa-plus"></i>
    </span>Add Venue</a>
  </div>

</div>

  <table class ="venue-table table table-striped">
    <thead>

      <tr>
        <th>Venue Category</th>
        <th>Image</th>
        <th>Name</th>
        <th>Street Address 1</th>
        <th>Street Address 2</th>
        <th>City</th>
        <th>ZIP</th>
        <th>Phone</th>
        <th>Website</th>
        <th>View More / Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-item animate-repeat" ng-repeat="venue in adminCtrl.venues | orderBy: 'name'| filter:query as results">

        <td class="category">{{venue.category}}</td>
        <td class="vImage"><img data-ng-src={{venue.image}} /></td>
        <td class="name">{{venue.name}}</td>
        <td class="address1">{{venue.address_one}}</td>
        <td class="address2">{{venue.address_two}}</td>
        <td class="city">{{venue.city}}</td>
        <td class="zip">{{venue.zip}}</td>
        <td class="phone">{{venue.phone}}</td>
        <td class="website">{{venue.website_url}}</td>
        <td>
          <a href="#/edit/{{venue._id}}">View More / Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
